<div layout="column" flex="none" layout-align="start stretch" class="page">
  <div class="toolbar" layout="row" layout-align="start center">
    <img class="logo" src="dist/image/eclimax.png">
    <div flex class="menu" layout="row" layout-align="end end">
      <md-nav-bar
        
        md-selected-nav-item="temCtrl.currentMenuItem">

        <md-nav-item
          ng-click="temCtrl.toggleMenu(itemMenu)" 
          md-nav-sref="{{itemMenu.menu}}" 
          class="md-primary" md-nav-sref="{{itemMenu.menu}}" 
          name="{{itemMenu.menu}}" 
          ng-repeat="itemMenu in temCtrl.listaSecao">
          {{itemMenu.title}}
        </md-nav-item>



      </md-nav-bar>
    </div>
  </div>
  <md-content layout="column" style="height: 100%">
    <!-- <div layout="column" class="secao">
        <div ng-style="{'background-color': secao.color}" ng-repeat="secao in listaSecao">
          {{secao.title}}

        </div>

    </div> -->
    <div ui-view style="height: 100%"  class="anim-in-out anim-slide-right" data-anim-sync="true" data-anim-speed="1000"></div>
   
    
  </md-content>
</div>

<style type="text/css">


  html, body{
    height: 100%;
  }

  .page{
    background-color: #ccc;
    height: 100%;
    position: relative;
    bottom: 0;
  }

  .page .logo{
    height: 80px;
  }

  .page .toolbar .menu{
    height: 100%;
  }


  .page .toolbar{
    height: 100px;
    background-color: #fff;
    padding: 0 20px 0 20px;
  }

  .page .secao>div{
    min-height: 500px;
  }

</style>