<div layout="column" layout-align="start stretch" class="page" layout-nowrap>
  <div class="toolbar" layout="row" layout-align="start center">
    <img class="logo" src="dist/image/eclimax.png">
    <div flex class="menu" layout="row" layout-align="end end">
      <md-nav-bar

        md-selected-nav-item="currentNavItem">

        <md-nav-item class="md-primary" md-nav-sref="{{itemMenu.menu}}" name="{{itemMenu.menu}}" 
          ng-repeat="itemMenu in listaSecao">
          {{itemMenu.title}}
        </md-nav-item>

      </md-nav-bar>
    </div>
  </div>
  <md-content>
    <div layout="column" class="secao">
        <div ng-style="{'background-color': secao.color}" ng-repeat="secao in listaSecao">
          {{secao.title}}

        </div>

    </div>

   
    
  </md-content>
</div>

<style type="text/css">


  html, body{
    height: 100%;
  }

  .page{
    background-color: #ccc;
    height: 100%;
  }

  .page .logo{
    height: 80px;
  }

  .page .toolbar .menu{
    height: 100%;
  }


  .page .toolbar{
    height: 100px;
    background-color: #fff;
    padding: 0 20px 0 20px;
  }

  .page .secao>div{
    min-height: 500px;
  }

</style>